body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

h1 {
    text-align: center;
    color: #4e54c8;
    margin-bottom: 20px;
}

/* Updated styling for the form */
form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Adjusted styling for label */
label {
    margin-right: 10px;
    color: #333;
}

/* Adjusted styling for input and select */
input[type="text"],
select {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Adjusted styling for button */
button[type="submit"] {
    padding: 10px 20px; /* Adjusted padding */
    background-color: #4e54c8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #8f94fb;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #4e54c8;
    color: #fff;
}

a {
    text-decoration: none;
    color: #4e54c8;
}

a:hover {
    text-decoration: underline;
}

.actions {
    white-space: nowrap;
}

.actions form {
    display: inline;
    margin-left: 4px;
    background-color: none;
    border: none;
}

.actions a,
.actions button {
    padding: 6px 10px; 
    margin-right: 5px; 
    background-color: #4e54c8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block; 
}

.actions a:hover,
.actions button:hover {
    background-color: #8f94fb;
}

#switch_user {
    padding: 9px 70px; 
    margin: 6px 260px;
    background-color: #4e54c8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

#switch_user:hover {
    background-color: #8f94fb;
}

@media screen and (max-width: 768px) {
    form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 20px;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #switch_user {
        padding: 9px 70px; 
        margin: 6px 180px;
        background-color: #4e54c8;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    #switch_user:hover {
        background-color: #8f94fb;
    }

   
.actions {
    white-space: nowrap;
}

.actions form {
    display: inline;
    margin-left: 4px;
    background-color: none;
    border: none;
}

.actions a,
.actions button {
    padding: 6px 10px; 
    margin-right: 5px; 
    background-color: #4e54c8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block; 
}

.actions a:hover,
.actions button:hover {
    background-color: #8f94fb;
}
}
