body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h1, h2 {
    text-align: center;
    color: #4e54c8;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

p {
    margin: 10px;
}

form {
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"],
input[type="file"] {
    width: 50%;
    padding: 8px;
    background-color: #4e54c8;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
}

input[type="submit"]:hover,
input[type="file"]:hover {
    background-color: #8f94fb;
}

#error_message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

#switch_user {
    padding: 9px 70px; 
    margin: 6px 180px;
    background-color: #4e54c8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

#switch_user:hover {
    background-color: #8f94fb;
}

#register {
    padding: 9px 70px; 
    margin: 6px 200px;
    background-color: #4e54c8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

#image {
    padding: 9px 10px; 
    text-align: center;
    cursor: pointer;
}

#register:hover {
    background-color: #8f94fb;
}

input[type="submit"] {
    width: 50%;
    padding: 8px;
    background-color: #4e54c8;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    #register {
        padding: 9px 70px; 
        margin: 6px 155px;
        background-color: #4e54c8;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s;
    }
}


